doctype html

html(lang="pt-br")

    head
        title Angular StarterKit

        // Setting routing
        base(href="/")

        // Required meta tags
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        // Adding Material Design Icons
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        // Adding font Lato from GoogleFonts
        link(href="https://fonts.googleapis.com/css?family=Lato:400,700", rel="stylesheet")
        // Adding FontAwesome
        link(href="https://use.fontawesome.com/releases/v5.7.1/css/all.css",
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr",
        crossorigin="anonymous", rel="stylesheet")

        // Fav icon
        link(rel="icon", type="image/x-icon", href="assets/img/favicon.ico")
        link(rel="shortcut icon", type="image/x-icon", href="assets/img/favicon.ico")

    body
        app-root
